/* * {
  border: 1px solid black;
} */

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #fdf6ff;
}

.background-image {
  position: relative;
}
.background-image::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url(images/office-desk.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.entire-content {
  position: relative;
}

/*  */
/* Navigation Bar */
/*  */

ul {
  list-style-type: none;
}

.left-header-links {
  margin: auto;
  height: 20vh;
  justify-content: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
}

#links {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  color: #438dff;
  font-size: 20px;

  border-radius: 15px;
  padding: 8px;
  font-weight: 600;
  box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px,
    rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
}
#links:hover {
  transform: scale(1.01);
  color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 2px 7px,
    rgb(64, 205, 71) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px;
}

nav.navigation-bar {
  display: none;
}

#my-photo {
  width: 4rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
#my-photo:hover {
  box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px,
    rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
}

/*  */
/* About Me */

.columns-container {
  padding: 1%;
  box-sizing: border-box;
  align-items: center;

  border-top-left-radius: 37px 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;

  display: block;
  position: relative;
  border: solid 3px #6e7491;
  padding: 0px 40px;
  max-width: inherit;
  width: 95%;
  margin: 10px 20px 20px 30px;
  font-size: 17px;
  line-height: 28px;
  transform: rotate(-1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  transition: all 0.13s ease-in;
}
.columns-container:hover {
  transform: translateY(-10px) rotate(1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}
.columns-container:after {
  content: "";
  display: table;
  clear: both;
}

.column-1 {
  width: 25%;
  height: fit-content;
  float: left;
  margin-top: 18px;
  margin-left: -4px;
}

.column-2 {
  margin-top: 1px;
  width: 70%;
  float: left;
}

.column-2 h1 {
  font-family: "Twinkle Star", cursive;
  color: #f6543c;
  text-align: center;
}

#fun-photo {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50% 20% / 10% 40%;
}
#fun-photo:hover {
  box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px,
    rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
}

.bio-text {
  display: inline-block;
  margin-top: -18px;
}

#conculsion {
  text-align: center;
}

/*  */
/* MEDIA QUERIES */

@media screen and (max-width: 1339px) {
  #fun-photo {
    display: none;
    margin-top: -23px;
  }
  .column-1,
  .column-2 {
    width: 100%;
    margin-top: -1px;
  }
}
