/* * {
  border: 1px solid black;
} */

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #fdf6ff;
  margin: 0;
}

.background-image {
  /* Source: https://unsplash.com/photos/PyaJJf5kK0o */
  position: relative;
}
.background-image::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background-image: url(images/office-desk.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.entire-content {
  position: relative;
}

ul {
  list-style-type: none;
}

/*  */
/* HOME PAGE */
/* Navigation Stylings */
/*  */

nav.navigation-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  height: 48px;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.left-header-links {
  /* height: 25vh; */
  /* justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px; */

  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  margin-left: 20px;
  width: 50vw;
}

#links {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  color: #438dff;
  font-size: 20px;
  font-weight: 900;
  border-radius: 15px;
  padding: 8px;
  transform: scale(1.01);
  margin-left: 50px;
}
#links:hover {
  transform: scale(1.01);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 2px 7px,
    rgb(64, 205, 71) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px;
  transition: all 0.2s;
}

/*  */
/* Home Page Container Stylings */
/*  */

.home-container {
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.home-summary-text h1 {
  margin: 0;
  /* position: absolute;
  top: calc(72vh - 70px); */
  width: fit-content;
  font-weight: 900;
  text-align: center;
  font-size: 124px;
  color: #438dff;
  line-height: 120px;
}

div.home-summary-text {
  width: fit-content;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: inherit;
  margin-top: 250px;
  margin-right: 150px;
  margin-left: 246px;
  text-align: center;
  font-size: 20px;
}

.home-summary-text h2 {
  width: fit-content;
  font-size: 30px;
  font-family: "Twinkle Star", cursive;
  color: #f6543c;
}
/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

.home-summary-text p {
  width: max-content;
  margin: 0;
}

.main-photo-div {
  height: fit-content;
  display: block;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 50vw;
  min-width: 50vw;
}

#my-photo {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
#my-photo:hover {
  box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px,
    rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
}

/*  */
/* Homepage Footer */
/*  */

.homepage-footer {
  text-align: center;
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  align-items: center;
  margin: 0px;
}

.home-social-links {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  align-items: center;
}
#github {
  color: #7a007a;
}
#linkedin {
  color: #0966c2;
}
#stack-overflow {
  color: #f48024;
}
#instagram {
  color: #e01038;
}

/*  */
/* MEDIA QUERIES */
/*  */

/* Min-Width 699px for Home Content */
/* @media (max-width: 699px) {
  nav.navigation-bar {
    position: inherit;
    margin: auto;
  }
  .left-header-links {
    margin-top: 2vh;
    height: 6vh;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #home-content h1 {
    margin-top: -15px;
  }
  #home-summary-text h2 {
    margin-left: 40px;
    margin-right: 58px;
    margin-top: 210px;
  }
  #home-summary-text {
    height: 19vh;
  }
  #home-summary-text p {
    max-width: 560px;
    margin: 12px 0;
    font-weight: normal;
    text-align: center;
    margin-left: 40px;
    margin-right: 58px;
    margin-top: -10px;
  }
  #main-photo-div {
    height: 50vh;
    width: 38vw;
    display: block;
    margin: auto;
    margin-top: auto;
  }
  #my-photo {
    width: fit-content;
    margin-top: 7px;
  }
  .homepage-footer {
    margin-top: -12px;
  }
} */

/* Max-Width 700px */
/* @media (max-width: 700px) {
  #home-summary-text h2 {
    margin-left: 40px;
    margin-right: 58px;
    margin-top: 190px;
  }
  .left-header-links {
    margin-top: 2vh;
    height: 6vh;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #home-summary-text {
    height: 19vh;
  }
  #home-summary-text p {
    max-width: 560px;
    margin: 12px 0;
    font-weight: normal;
    text-align: center;
    margin-left: 40px;
    margin-right: 58px;
    margin-top: -10px;
  }
} */

/* Min-Width 700px for Home Content (Break-point: 899px) */
/* @media (min-width: 700px) {
  .left-header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    justify-content: space-around;
    margin: auto;
  }
  #home-summary-text h2 {
    margin-left: 40px;
    margin-right: 58px;
    margin-top: 190px;
  }
  #home-content {
    height: 30vh;
  }
  #home-content h1 {
    position: unset;
    width: auto;
    line-height: normal;
    margin-left: 40px;
    margin-right: 3px;
    margin-top: 111px;
  }
  #home-summary-text h2 {
    margin-left: 40px;
    margin-right: 58px;
    margin-top: 14px;
  }
  #home-summary-text {
    justify-content: flex-start;
    margin: initial;
    margin-left: 150px;
    margin-right: 58px;
    margin-top: -10px;
    margin-bottom: 40px;
    max-height: unset;
    text-align: center;
    width: 500px;
  }
  #home-summary-text p {
    max-width: 450px;
    margin: 12px 0;
    font-weight: normal;
    text-align: center;
    margin-left: 40px;
    margin-right: 58px;
    margin-top: -24px;
  }
  #main-photo-div {
    height: 50vh;
    width: 38vw;
    display: block;
    margin: auto;
  }
  #my-photo {
    width: fit-content;
    margin-left: 38px;
  }
} */

/* Special Max-Width 900px */
/* @media (max-width: 900px) {
  nav.navigation-bar {
    position: inherit;
    margin: auto;
  }
  .homepage-footer {
    margin: 70px;
  }
} */

/* Min-Width 900px for Home Content */
/* @media (min-width: 900px) {
  #home-container {
    height: 100vh;
    display: flex;
    flex-flow: row-reverse;
  }
  #home-content {
    height: 100vh;
    max-width: 50vw;
    min-width: 50vw;
    padding-left: 64px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    justify-content: flex-end;
  } */
  /* .fas fa-bars active {
    display: none;
    text-decoration: none;
  } */
  /* #main-photo-div {
    flex-grow: 1;
    flex-basis: 0;
    height: 100vh;
    max-width: 50vw;
    min-width: 50vw;
  }
  #home-content h1 {
    margin-left: calc(8vw + 12px);
    justify-content: flex-start;
  }
  #home-summary-text {
    margin-left: calc(4vw + 12px);
    justify-content: flex-start;
  }
} */
