/* Surround all content with borders to highlight CSS */
/* * {
  border: 1px solid black;
}

main {
  margin: 0;
  width: 100%;
}
body * {
  color:                      hsla(210, 100%, 100%, 0.88)     !important;
  background:                 hsla(210, 100%,  50%, 0.33)       !important;
  outline:    0.25rem solid hsla(210, 100%, 100%, 0.50)     !important;
} */

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #fdf6ff;
  margin: 0;
  box-sizing: border-box;
}

.background-image {
  /* Source: https://unsplash.com/photos/PyaJJf5kK0o */
  position: relative;
}
.background-image::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background-image: url(images/office-desk.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.entire-content {
  position: relative;
}

/*  */
/* HOME PAGE */
/* Navigation Stylings */
/*  */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

.navigation-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.left-header-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-header-links li {
  margin-right: 2vw;
}

.left-header-links li:last-child {
  margin-right: 0;
}

#links {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  color: #438dff;
  border-radius: 15px;
  font-weight: 600;
  transition: all 0.2s;
  box-shadow: rgb(64, 205, 71) -2px -2px 0px 2px;
  font-size: 25px;
  padding: 8px;
}
#links:hover {
  transform: scale(1.01);
  color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 2px 7px,
    rgb(64, 205, 71) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px;
}

#mini-photo {
  width: 4rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px;
}
#mini-photo:hover {
  box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px,
    rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
}

/*  */
/* NAV BAR MEDIA QUERIES */
/*  */

/* Media query for smaller screens (e.g., phones) */
@media only screen and (max-width: 768px) {
  .left-header-links li {
    margin-right: 1rem;
  }
  #links {
    font-size: 20px;
    margin-right: 0.5rem;
  }
  #mini-photo {
    width: 3rem;
  }
}

/* Media query for even smaller screens (e.g., small phones) */
@media only screen and (max-width: 480px) {
  .left-header-links li {
    margin-right: 0.5rem;
  }
  #links {
    font-size: 16px;
    padding: 6px;
    margin-right: 0.25rem;
  }
  #mini-photo {
    width: 2.5rem;
  }
}

/*  */
/* Home Page Container Stylings */
/*  */

.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.my-photo {
  width: 36.5%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-bottom: 15px;
}
.my-photo:hover {
  transform: scale(1.1);
  transition-duration: 1s;
  box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px,
    rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
}

div.home-summary-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-summary-text h2 {
  width: fit-content;
  font-size: 40px;
  font-family: "Twinkle Star", cursive;
  color: #f6543c;
  margin-top: 20px;
}
/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

.home-summary-text p {
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}

span.txt-type {
  margin-bottom: 0;
}

section.skills {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
/* Homepage Skills */
.skills-icons-div {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills img {
  width: 40px;
  height: 40px;
}

.icon-card {
  display: inline-block;
  border-radius: 11px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 2px 7px,
    rgb(64, 205, 71) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px;
  box-shadow: black;
  padding: 0.6rem;
  margin: 1rem;
  background-color: #fdf6ff;
}

.icon-card:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

/*  */
/* Homepage Footer */
/*  */

.homepage-footer {
  text-align: center;
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  align-items: center;
  margin: 0px;
}

.home-social-links {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  align-items: center;
}
#github {
  color: #7a007a;
}
#linkedin {
  color: #0966c2;
}
#stack-overflow {
  color: #f48024;
}
#instagram {
  color: #e01038;
}

/*  */
/* Contact Me */
/*  */

.contact-me-container {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #fdf6ff;
  box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px,
    rgba(0, 0, 0, 0.05) 0px 0px 2px 7px, rgb(246, 84, 174) 0px 0px 0px 4px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact-me-container:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.contact-me-container h1 {
  color: #438dff;
  text-align: center;
  margin-top: 2px;
}

#contact-me {
  font-family: "Twinkle Star", cursive;
  color: #f6543c;
  font-size: 30px;
}

form {
  margin: 20px auto;
  width: 100%;
}

.form-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 0px;
}

#message {
  width: 100%;
  border: 2px dashed #40cd47;
  padding: 10px;
  font-size: 18px;
}

#message:hover {
  border: 2px solid #40cd47;
}

.form-item label {
  flex-basis: 150px;
  font-size: 22px;
  text-align: center;
  margin-bottom: 5px;
}

.form-item input,
.form-item textarea {
  width: 100%;
  border: 2px dashed #40cd47;
  padding: 10px;
  font-size: 18px;
}

.form-item input,
.form-item textarea {
  flex-basis: 50%;
  border: 2px dashed #40cd47;
}

.form-item input:hover,
.form-item textarea:hover {
  border: 2px solid #40cd47;
}

.form-item input,
.form-item textarea,
.form-item button {
  border: 2px dashed #40cd47;
  background-color: #fff;
  padding: 5px;
  font-size: 18px;
}

.form-item button:hover {
  border: 2px solid #40cd47;
  background-color: #40cd47;
  color: #fff;
}

.form-item button {
  width: 100px;
}

/*  */
/* SCROLL DOWN ARROW */
/*  */

.scroll-down-arrow {
  bottom: 20px;
  left: 0;
  right: 0;
  margin: -6px auto 30px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #438dff;
  cursor: pointer;
  z-index: 999;
}

.scroll-down-arrow:hover {
  border-color: #f6543c;
}

/*  */
/* FORM MEDIA QUERIES */
/*  */

/* Media query for smaller screens (e.g., phones) */
@media only screen and (max-width: 768px) {
  .contact-me-container {
    padding: 30px;
  }

  .form-item label {
    flex-basis: 30%;
  }

  .form-item input,
  .form-item textarea {
    flex-basis: 70%;
  }

  .form-item button {
    width: 80px;
  }
}

/*  */
/* MAIN MEDIA QUERIES */
/*  */

@media (max-width: 576px) {
  .home-container {
    flex-flow: column wrap;
    font-size: 70%;
  }
}

@media (max-width: 768px) {
  .home-container {
    flex-flow: column wrap;
  }
}

/* Media query for iPhone-sized screens */
@media only screen and (max-width: 480px) {
  .home-container {
    flex-direction: column;
    align-items: center;
  }

  .my-photo {
    width: 75%;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .home-summary-text {
    text-align: center;
    margin-bottom: 20px;
  }

  .home-summary-text h2 {
    font-size: 3em;
    margin-top: 10px;
  }

  .txt-type {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #short-bio {
    font-size: 1.5em;
  }

  .skills {
    display: none;
  }

  .scroll-down-arrow {
    margin-top: 25px;
    margin-bottom: 65px;
  }
}
