/* * {
  border: 1px solid black;
} */

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #fdf6ff;
}

.background-image {
  position: relative;
}
.background-image::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url(images/office-desk.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.entire-content {
  position: relative;
}

/*  */
/* Navigation Bar */
/*  */

ul {
  list-style-type: none;
}

.left-header-links {
  margin: auto;
  height: 20vh;
  justify-content: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 13vh;
}

#links {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  color: #438dff;
  font-size: 25px;
  box-shadow: rgb(64, 205, 71) -2px -2px 0px 2px;
  border-radius: 15px;
  padding: 8px;
  font-weight: 600;
  transition: all 0.2s;
}
#links:hover {
  transform: scale(1.01);
  color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 2px 7px,
    rgb(64, 205, 71) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px;
}

a {
  text-decoration: none;
}

nav.navigation-bar {
  display: none;
}

#my-photo {
  width: 4rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px;
}
#my-photo:hover {
  box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px,
    rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
}

/*  */
/* Projects Boxes */
/*  */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  text-align: center;
  font-size: 23px;
  padding: 4px;
}

h2 {
  margin-top: 10px;
}

h1,
h3,
a:hover {
  color: #f6543c;
}

/* Special Properties of Projects Blocks */

.projects-header {
  font-family: "Twinkle Star", cursive;
  text-align: center;
  margin: -6px;
  padding-top: 1px;
  font-size: 25px;
  color: #f6543c;
}

.main-content {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.box-rows {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
}

.projects {
  display: inline-block;
  box-sizing: content-box;
  text-align: center;
  width: 30rem;
  height: 480px;
  background-color: white;
  border-radius: 15px;
  border: 10px;
  padding: 15px;
  margin: 8px;
}

.projects-images {
  width: 30rem;
  height: 20rem;
  margin: auto;
  display: block;
  object-fit: cover;
}

.info {
  font-size: 17px;
}

.tech-stack {
  color: #438dff;
  font-family: "Twinkle Star", cursive;
}

/*  */
/* FOOTER */
/*  */

.footer {
  text-align: center;
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  align-items: center;
}

.social-links {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  align-items: center;
}
#github {
  color: #7a007a;
}
#linkedin {
  color: #0966c2;
}
#stack-overflow {
  color: #f48024;
}
#instagram {
  color: #e01038;
}
