body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/*  */
/* HOME PAGE */
/* Navigation Stylings */
/*  */

#left-header-links {
  height: 25vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

nav.navigation-bar {
  display: none;
}

#burger-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div.menu-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*  */
/* Home Page Container Stylings */
/*  */

#home-container {
  margin: 0;
  display: block;
}

#home-content {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#home-content h1 {
  margin: 0;
  position: absolute;
  top: calc(72vh - 70px);
  width: 100vw;
  font-weight: 900;
  text-align: center;
  font-size: 124px;
  color: #212121;
  line-height: 120px;
}

#home-summary-text {
  height: 35vh;
  max-height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: inherit;
  margin-top: 100px;
  text-align: center;
}

#main-photo-div {
  height: 60vh;
  width: 100vw;
  display: block;
}

#my-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

/* BURGER MENU */

/* .about-container {
  border-color: #f9ff60;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  padding: 15px 60px;
} */

/* button {
  display: block;
  margin: 20px auto;
  background: #ff8e00;
  color: #ffff;
  font-size: 18px;
  padding: 15px 20px;
  border: #ff8e00;
  border-radius: 6px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

button:hover {
  background: #ffff;
  color: #ff8e00;
  border: #ff8e00;
} */

.footer {
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
}

.social-links {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}
#github {
  color: #161b22;
}
#linkedin {
  color: #0966c2;
}
#stack-overflow {
  color: #f48024;
}
#instagram {
  color: #e01038;
}

/*  */
/* MEDIA QUERIES */
/*  */

/* Min-Width 480px for Home Content */
@media (max-width: 480px) {
  #main-photo-div {
    position: absolute;
    width: fit-content;
  }
}

/* Min-Width 550px for Navigation */
@media (min-width: 550px) {
  #left-header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #left-header-links {
    width: 50vw;
    justify-content: space-around;
  }
  nav.navigation-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: 48px;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  div.menu-icon {
    display: none;
  }
}

/* Min-Width 550px for Home Content */
@media (min-width: 550px) {
  #home-content {
    height: 30vh;
    width: min-content;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-left: 20px;
  }
  #home-content h1 {
    position: unset;
    width: auto;
    margin-left: 36px;
    margin-right: 36px;
    line-height: normal;
  }
  #home-summary-text {
    justify-content: flex-start;
    margin: initial;
    margin-bottom: 40px;
    max-height: unset;
    text-align: center;
  }
  #home-summary-text p {
    max-width: 450px;
    margin: 12px 0;
    font-weight: normal;
    text-align: center;
    margin-left: 40px;
    margin-right: 58px;
    margin-top: -10px;
  }
  #main-photo-div {
    height: 90%;
    width: 60%;
    flex-grow: 1;
    flex-basis: 0;
    height: 70vh;
    justify-content: center;
  }
  #my-photo {
    width: fit-content;
  }
}

/* Min-Width 900px for Home Content */
@media (min-width: 900px) {
  #home-container {
    height: 100vh;
    display: flex;
    flex-flow: row-reverse;
  }
  #home-content {
    height: 100vh;
    max-width: 50vw;
    min-width: 50vw;
    padding-left: 64px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    justify-content: flex-end;
  }
  #main-photo-div {
    flex-grow: 1;
    flex-basis: 0;
    height: 100vh;
    max-width: 50vw;
    min-width: 50vw;
  }
}

@media (min-width: 1020px) {
  #home-content h1 {
    margin-left: calc(8vw + 12px);
    justify-content: flex-start;
  }
  #home-summary-text {
    margin-left: calc(4vw + 12px);
    justify-content: flex-start;
  }
}
