body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  font-weight: bold;
  margin: 10px 0 10px 0;
}

/*  */
/* HOME PAGE */
/*  */

#left-header-links {
  height: 25vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

#right-header-links {
  height: 40vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

nav.navigation-bar {
  display: none;
}

#burger-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div.menu-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* #home-container {
  margin: 0;
  display: block;
} */

#main-photo-div {
  height: 60vh;
  width: 100vw;
  display: block;
}

#my-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  /* border-radius: 40% 40% / 0% 0%; */
}

.home-content {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
}

/* BURGER MENU */

/* .about-container {
  border-color: #f9ff60;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  padding: 15px 60px;
} */

/* button {
  display: block;
  margin: 20px auto;
  background: #ff8e00;
  color: #ffff;
  font-size: 18px;
  padding: 15px 20px;
  border: #ff8e00;
  border-radius: 6px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

button:hover {
  background: #ffff;
  color: #ff8e00;
  border: #ff8e00;
} */

.footer {
  text-align: center;
  font-size: 12px;
}

/*  */
/* MEDIA QUERIES */
/*  */

/* Min-Width 550PX */

@media screen and (min-width: 550px) {
  #left-header-links,
  #right-header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #right-header-links {
    padding-left: 380px;
  }
  #left-header-links {
    width: 50vw;
    justify-content: space-around;
  }
  nav.navigation-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 48px;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  div.menu-icon {
    display: none;
  }
}

@media screen and (min-width: 550px) {
  #home-content {
    height: 30vh;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-left: 24px;
  }
  #main-photo-div {
    max-width: 50vw;
    min-width: 50vw;
    flex-grow: 1;
    flex-basis: 0;
    height: 100vh;
  }

  /* #my-photo {
    width: 70vw;
  } */
}

@media screen and (min-width: 900px) {
  #home-container {
    height: 100vh;
    display: flex;
    flex-flow: row-reverse;
  }
  #home-content {
    height: 100vh;
    max-width: 50vw;
    min-width: 50vw;
    padding-left: 64px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    align-items: flex-start;
    justify-content: flex-end;
  }
}
